<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <style>
        p{
         margin: 5px;
        }
    </style>
</head>
<body>
    <div align="center">
        <p>Авторизация</p>
        <p>Логин</p>
        <input id="name" type="text" size="40">
        <p>Пароль</p>
        <input id="password" type="text" size="40">
        <p>
            <button onclick="location.href='/CreateItem?name=test';">Войти</button>
            <a href="registration.html">Регистрация</a>
        </p>
    </div>
</body>
</html>